body {
    background-image: url('./Asset/Foto%20produk%20jus/Semuabuah%201.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-blend-mode: overlay;
  }

  
 