body {
    background-image: url('file:///C:/Users/hp/OneDrive/Documents/Kuliah%20Semester%204/PEMWEB/UTS_WEBSITE_UMKM/Asset/Foto%20produk%20jus/Semuabuah%201.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-blend-mode: overlay;
  }

  
 